/src/javaProject/WebApplication1/nbproject/private/
/src/javaProject/Calories/nbproject/private/
/src/javaProject/Calories/build/
src/javaProject/\.DS_Store

src/\.DS_Store
/src/javaProject/Calories/dist/


/src/javaProject/Calories/web/components
/node_modules
/package.json
/.babelrc