{
  "name": "calories-app",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/javaProject/Calories/web/ts/menu.ts",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-typescript\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":false}}"
    },
    {
      "path": "src/javaProject/Calories/web/js/menu.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/calories",
      "src/javaProject/Calories",
      "src/javaProject",
      "src/javaProject/Calories/web",
      "src/javaProject/Calories/web/ts",
      "src/javaProject/Calories/web/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/javaProject/Calories/web/scss/calories.scss",
      "imports": [
        "src/javaProject/Calories/web/scss/src.scss",
        "src/javaProject/Calories/web/icons/icons.scss",
        "src/javaProject/Calories/web/scss/navigation.scss",
        "src/javaProject/Calories/web/scss/header.scss",
        "src/javaProject/Calories/web/scss/logo.scss",
        "src/javaProject/Calories/web/scss/info.scss",
        "src/javaProject/Calories/web/scss/app.scss",
        "src/javaProject/Calories/web/scss/select.scss",
        "src/javaProject/Calories/web/scss/loading.scss",
        "src/javaProject/Calories/web/scss/about.scss",
        "src/javaProject/Calories/web/scss/select_file.scss",
        "src/javaProject/Calories/web/scss/menu.scss",
        "src/javaProject/Calories/web/scss/toolbar.scss",
        "src/javaProject/Calories/web/scss/item_list.scss",
        "src/javaProject/Calories/web/scss/item.scss",
        "src/javaProject/Calories/web/scss/component.scss",
        "src/javaProject/Calories/web/scss/footer.scss",
        "src/javaProject/Calories/web/icons/calculator/_flaticon.scss"
      ]
    },
    {
      "path": "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/variables.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/mixins.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/path.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/core.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/larger.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/fixed-width.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/list.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/bordered-pulled.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/animated.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/rotated-flipped.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/stacked.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/icons.less",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_variables.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_mixins.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_path.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_core.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_larger.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_fixed-width.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_list.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_animated.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_stacked.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_icons.scss",
        "src/javaProject/Calories/web/libs/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\",\"babel\",\"concat-js\"],\"compiler-uglify-js\":{\"enabled\":false},\"compiler-concat-js\":{\"enabled\":false}}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}