.app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    &-loading{
        flex: 2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--close{
            display: none;
        }
    }
    &-select{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        &--close{
            display: none;
        }
    }
    &-find, &-add, &-about, &-search, &-view, &-calculator{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        &--close{
            display: none;
        }
    }
    &-find{
        .app-toolbar{

        }
        .toolbar-select--component{
            width: 100%;
        }
        .toolbar-select--weight{
            display: none;
            width: 0%;
        }
    }
    &-add{

    }
    &-search{
        .search{
            flex: 1;
        }
    }
    &-calculator{
        .app-toolbar{
            box-sizing: border-box;
            padding: 20px;
        }
        .app-toolbar, .app-info{
            flex: 1;

            align-items: center;
            justify-content: center;
        }
        .toolbar{
            flex: 0;

            border: none;
            max-width: 350px;

            text-align: center;
            .toolbar-btn{
                width: 100%;
            }
        }
        .info{
            &-title{
                font-size: 32px;
            }
            &-content{
                max-width: 200px;
                padding: 10px 10px;
                background-color: $dark-color; 

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                font-size: 30px;
                color: $light-color;
            }
        }
    }
    &-view_item{
        display: none;
    }
    &-about{
        align-items: center;
        justify-content: center;
        .about{
            padding: 20px;
            max-width: 300px;
        }
    }
    &-toolbar{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        .toolbar{
            flex: 1;
        }
    }
    &-item_list{
        flex: 2;
        text-align: justify;
        &--one_item{
            .item_list{
                .item{
                    
                    
                }
            }
        }

        
        &--close{
            display: none;
        }
    }
    &-info{
        flex: 2;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info{
            max-width: 400px;
            text-align: center;
        }

    }
    @media screen and (max-width: 900px){
        &-toolbar, .app-calculator &-toolbar{
            flex-basis: 100%;
        }
    }
}