.info{
    font-family: exo_l + ',' + $font-stack;
    &-title{
        vertical-align: middle;
        line-height: 20px;
        font-weight: normal;
    }
    &-navigation{
        display: inline-block;
        vertical-align: middle;
    }
}