$item-border: 2px solid $yellow-color;
.item{
    box-sizing: border-box;
    width: 250px;
    min-height: 300px;
    border: $item-border;
    background-color: $blue-color;
    color: $light-color;
    text-align: left;
    &-name{
        margin-bottom: 30px;
        border-bottom: $item-border;

        padding: 10px 20px;
        font-size: 20px;
        text-transform: capitalize;
        text-align: center;
    }
    &-weight{
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    &-components{
        padding: 0px 20px;
        .component{
            margin-bottom: 10px;
        }
    }
}