$item-border: 2px solid $yellow-color;
.item{
    box-sizing: border-box;
    width: 270px;
    border: $item-border;
    background-color: $blue-color;
    color: $light-color;
    font-size: 18px;
    text-align: left;

    &-name{
        border-bottom: $item-border;

        padding: 10px 20px;
        font-size: 24px;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
    &-description{
        position: relative;
        padding: 20px;
        min-height: 260px;
        //background: url(../img/dish1.jpeg);
        background-size: 100% 100%;
        background-position: center;
        .filter{
            z-index: 1;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: rgba(black, .5)
        }
    }
    &-weight{
        position: relative;
        z-index: 2;
        margin-bottom: 10px;
    }
    &-calories{
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
    }
    &-components{
        position: relative;
        z-index: 2;
        max-height: 185px;
        overflow: hidden;
        .component{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    /*
    &-select{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding: 2px 4px;
        width: 100%;

        line-height: 30px;  
        background-color: $dark-color;      

        color: $light-color;
        font-size: 20px;
        outline: none;

        text-align: center;
        text-transform: capitalize;

        cursor: pointer;

        &:hover{
            background-color: $yellow-color;
        }
    }
    */
}