.item_list{
    text-align: center;
    &-title{
        margin-bottom: 20px;
        text-align: left;
    }
    .item{
        margin: 0 20px;
        margin-bottom: 30px;
        vertical-align: top;
        display: inline-block;
    }
}