.app-search{
    .toolbar-controls{
        margin-top: 20px;
    }
}
.toolbar-menu{
    padding: 10px 20px;
    background-color: $light-color;

}
.menu{
    margin-top: 10px;
    //border-radius: 2px;

    //transition: all 0.3s;
    color: $dark-color;

    &:first-child{
        margin-top: 0;
    }
    
    &-control{
        position: relative;
    }
    &-group{
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    &-list{
        margin-top: 5px;
        margin-left: 20px;
        display: block;
        font-size: 16px;
        
        text-transform: capitalize;

        &--block{
            display: block;
        }
    }

    &-title, &-btn{
        vertical-align: middle;
        font-size: 18px;
    }
    &-title{
        margin-right: 20px;
    }
    &-btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        transition: transform 0.3s;
        &:before{
            display: inline-block;
            margin-top: 2px;
        }
    }
    .menu{
        font-size: 18px;
    }
    &--click{
        & > .menu-control .menu-btn{
            transform: translateY(-50%) rotate(-45deg);
        }
        .menu-control{
        }
        & > .menu-group{
            height: auto;
        }
    }
}