.navigation{
    font-size: 24px;
    text-transform: uppercase;
    text-align: inherit;
    &-list{
        margin-left: 15px;

        &:first-child{
            margin-left: 0;
        }
        &--calculate{
            font-size: 26px;
        }
        &--search{
            display: inline-block;
            margin-top: 2px;
            font-size: 26px;
        }
        &--main{
            font-size: 32px;
        }
        &--about{
            margin-top: 2px;
            font-size: 32px;
        }
    }
    &-description{
        margin-left: 10px;
        vertical-align: middle;
    }
}