.select_file{
    input[type=file]{
        display: none;
    }
    &-btn{
        display: inline-block;
        vertical-align: middle;
        //min-width: 70px;
        //width: 80%;
        max-width: 200px;
        font-size: 18px;
        padding: 5px 10px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        background-color: $yellow-color;
        color: $dark-color;
        text-transform: capitalize;
        outline: none;

        cursor: pointer;

        transition: $transition-time;
        &:hover{
            box-shadow: 0 0 10px rgba($yellow-color, 0.7);
        }
    }
    &-reset{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: 20px;
    }
}