@import 'src.scss';
@import 'navigation.scss';
@import 'header.scss';
@import 'logo.scss';
@import 'info.scss';
@import 'app.scss';
@import 'select.scss';
@import 'loading.scss';
@import 'toolbar.scss';
@import 'footer.scss';
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    min-height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
    transition: $transition-time;
    cursor: pointer;
    &:hover{
        color: $yellow-color;
    }
}
.link{
}
.calories{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    min-height: 100vh;

    background-color: $light-color;
    font-family: $font-stack;
    &-header{
        background-color: $blue-color;
        padding: 0 5%;
    }
    &-select{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        &--close{
            display: none;
        }
    }
    &-app{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        .app{
            flex: 1;
        }
        &--close{
            display: none;
        }
    }
    &-loading{
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--close{
            display: none;
        }
    }
    &-footer{
        background-color: $blue-color;
        padding: 0 5%;
    }
}
