.header{
    color: $light-color;
    &-logo{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    &-info{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: right;
    }
}