.header{
    color: $light-color;
    &-logo{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    &-info{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: right;
    }
    @media screen and (max-width: 800px){
        padding: 10px 0;
        &-logo{
            width: 100%;
            text-align: center;
        }
        &-info{
            width: 100%;
            text-align: center;
        }
    }
}