@import './feature.scss';

.features_list{
    text-align: center;

    &-title{
        margin-bottom: 50px;

        font-size: 32px;
    }
    &-feature{
        margin: 0 20px 40px 20px;

        display: inline-block;
        vertical-align: top;
        width: 275px;
    }
    
    @media screen and (max-width: 750px){
        &-feature{
            margin: 0 0 40px 0;
        }
    }
}